APP_ENV=development
SECRET_KEY=
DATABASE_URL=
MAIL_ENABLED=false
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=
MAIL_USE_SSL=
MAIL_DEFAULT_SENDER=
EMAILS_OPERACIONAIS_ATIVOS=false
APP_BASE_URL=
